footer {
    padding-top: 16px;
    width: 100%;
    background-color: var(--top-bottom-color);
    color: var(--top-bottom-text-color);
    display: flex;
    flex-direction: column;
}
.footer-ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0);
    z-index: 10;
    transition: transform 0.3s linear;
}
.footer-ball.mobile-hidden {
    display: none;
}
.footer-ball__butterfly {
    width: 26px;
    height: 26px;
    border: 0.1px solid var(--primary-text-color);
    border-radius: 50%;
    gap: -3px;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 2.4px;
    padding-top: 5px;
    z-index: 10;
}
.footer-ball__wing {
    width: 8px;
    height: 13px;
    background-color: rgb(245, 14, 221);
    display: inline-flex;
    border-radius: 50%;
    z-index: 10;
}
.footer-ball__wing:first-child {
    transform: rotate(-45deg);
}
.footer-ball__wing:last-child {
    transform: rotate(45deg);
}
.footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}