footer {
    padding-top: 16px;
    width: 100%;
    background-color: var(--top-bottom-color);
    color: var(--top-bottom-text-color);
    display: flex;
    flex-direction: column;
}
.footer-ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(var(--mouseX, 0), var(--mouseY, 0), 0);
    z-index: 10;
    transition: transform 0.3s linear;
}
.footer-ball.mobile-hidden {
    display: none;
}
.footer-ball__butterfly {
    width: 26px;
    height: 26px;
    border: 0.1px solid var(--primary-text-color);
    border-radius: 50%;
    gap: -3px;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 2.4px;
    padding-top: 5px;
    z-index: 10;
}
.footer-ball__wing {
    width: 8px;
    height: 13px;
    background-color: rgb(245, 14, 221);
    display: inline-flex;
    border-radius: 50%;
    z-index: 10;
}
.footer-ball__wing:first-child {
    transform: rotate(-45deg);
}
.footer-ball__wing:last-child {
    transform: rotate(45deg);
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 96px;
    padding-bottom: 71.25px;
}
.footer-flex-wrap {
    display: flex;
    flex-direction: row;
    column-gap: 15vw;
}
.footer-content__navigation {
    box-sizing: border-box;
}
.footer__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 29px;
    margin-right: 10.6vw;
}
.footer__navigation a {
    text-decoration: none;
    color: var(--top-bottom-text-color);
    font-family: var(--primary-font-family);
    font-style: Bold;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    width: fit-content;
}
.footer__navigation a:hover {
    border-bottom: 0.5px solid var(--top-bottom-text-color);
}
.footer__navigation_goods {
    display: flex;
    flex-direction: column;
}
.footer__navigation_goods a + a {
    margin-top: 3px;
}
@media screen and (max-width: 1255px) {
    .footer-flex-wrap {
       column-gap: 8vw;
    }
}
@media screen and (max-width: 1123px) {
    .footer-flex-wrap {
        column-gap: 3vw;
    }
}
@media screen and (max-width: 1025px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-flex-wrap {
        justify-content: space-between;
    }
    .footer__navigation {
        margin-top: 25px;
        flex-direction: row;
        gap: 0 11vw;
    }
    .footer-content {
        padding-left: 0;
    }
}
@media screen and (max-width: 630px) {
    footer {
        align-items: center;
    }
    .footer-flex-wrap {
        flex-direction: column;
    }
    .footer__logo {
        padding-left: 18%;
    }
}