header {
    width: 100%;
    max-width: 100%;
    height: 188px;
    background-color: var(--top-bottom-color);
    display: flex;
    flex-direction: row;
}
.header__logo-container {
    display: block;
    margin-left: 5px;
    margin-top: -17px;
}
.header__logo img {
    width: 316px;
    height: 222px;
}
.header__main {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    align-items: center;
    height: 100%;
}
.header__nav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
    height: 100%;
}
.header__nav a {
    color: var(--top-bottom-text-color);
    font-family: var(--primary-font-family);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    height: 23px;
    width: fit-content;
}
.header__nav a + a {
    margin-left: 150px;
}
.header__nav a:hover {
    border-bottom: 0.5px solid var(--top-bottom-text-color);
}
.header__search, .footer-search {
    display: flex;
    align-items: center;
    position: relative;
}
.header__search {
    width: 375px;
    margin-left: 150px;
}
.footer-search {
    margin-left: 0;
}
.header__input, .footer__input {
    width: 375px;
    height: 63.75px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--placeholder-text-color);
    font-family: var(--primary-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 22px;
}
.footer__input {
    width: 375px;
    height: 63.75px;
}
.header__search-icon, .footer__search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
}
.hamburger-menu {
    display: none;
    text-align: center;
    width: 100%;
}
.hamburger-menu__logo {
    margin-top: -30px;
}
.hamburger-menu__btn {
    color: var(--primary-color);
    font-size: 45px;
    margin-top: -20px;
    width: 30%;
}
.hamburger-menu__btn:hover {
    color: var(--top-bottom-color);
    background-color: var(--primary-color);
    border-radius: 7px;
}
.hamburger-menu__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
.hamburger-menu__nav.visible {
    opacity: 1;
    max-height: 500px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.hamburger-menu__search {
    display: block;
    text-align: center;
    position: relative;
}
.hamburger-menu__input {
    width: 375px;
    height: 63.75px;
    border: 0.5px solid #888;
    outline: none;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--placeholder-text-color);
    font-family: var(--primary-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 22px;
    flex-grow: 1;
}
.hamburger-menu__search-icon {
    position: absolute;
    right: calc(25.39% + 10px);
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
}
.hamburger-menu__links-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hamburger-menu__nav a {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    height: 23px;
    width: 200px;
    border-radius: 7px;
    align-self: center;
    text-align: center;
    height: 35px;
    padding-top: 5px;
}
.hamburger-menu__nav a + a {
    margin-top: 20px;
}
.hamburger-menu__nav a:hover {
    transition: 0.3s all ease-in-out;
    color: var(--primary-color);
    background-color: var(--top-bottom-color);
}
@media screen and (max-width: 1555px) {
    .header__nav a + a {
        margin-left: 45px;
    }
    .header__search {
        margin-left: 80px;
    }
}
@media screen and (max-width: 1280px) {
    .header__main {
        margin-left: 0;
    }
    .header__search {
        margin-left: 40px;
    }
}
@media screen and (max-width: 1180px) {
    .header__main {
        flex-direction: column;
        margin-left: 150px;
    }
    .header__nav + .header__search {
        margin-top: 50px;
    }
    .header__nav {
        margin-top: 25px;
    }
    .header__search {
        margin-left: 0;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 950px) {
    .header__main {
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    header {
        height: 176px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger-menu {
        display: block;
    }
    .header__logo-container {
        display: none;
    }
    .header__main {
        display: none;
    }
    .header__search {
        display: none;
    }
}
@media screen and (max-width: 460px) {
    .hamburger-menu__search-icon {
        right: 15%;
    }
}
@media screen and (min-width: 769px) {
    .hamburger-menu__nav {
        display: none !important;
    }
}