@import url("reset.css");
@import url("./header.css");
@import url("./footer.css");
:root {
    --primary-color: #fff;
    --top-bottom-color: #1D2641;
    --primary-text-color: #161616;
    --top-bottom-text-color: #fff;
    --placeholder-text-color: #c0c0c0;
    --primary-font-family: "Montserrat", sans-serif;
}
 html.card-none, body.card-none {
    overflow-y: hidden;
}
header.card-none, footer.card-none {
    opacity: 0.2;
}
main.card-none {
    background-color: rgba(255, 255, 255, 0.2);
}
.slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    aspect-ratio: 16 / 9;
    transition: margin-top 0.1s linear;
    margin-top: 55px;
}
.slider__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.45s linear;
}
.slider__back-btn, .slider__forward-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 105px;
    height: 104.13px;
}
.slider__back-btn.none, .slider__forward-btn.none {
    opacity: 0;
    height: 100%;
    margin-top: -20%;
}
.slider__back-btn {
    left: 15px;
    transform: rotate(180deg);
}
.slider__forward-btn {
    right: 30px;
}
.slider-dots {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
.slider-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid var(--primary-text-color);
}
.slider-dot + .slider-dot {
    margin-left: 15px;
}
.popular-goods_small {
    margin-top: 45px;
}
.popular-goods_small__heading {
    display: flex;
    flex-direction: row;
    padding-right: 104px;
    padding-bottom: 72px;
    padding-left: 104px;
}
.popular-goods_small__main-heading, .popular-goods_small__main-heading--sub {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 36px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
}
.popular-goods_small__main-heading--sub {
    display: none;
    height: fit-content;
}
.popular-goods_small__main-heading--sub:hover {
    border-bottom: 1px solid var(--primary-text-color);
}
.popular-accordion {
    position: relative;
    margin-left: 24.5vw;
}
.popular-accordion h2 {
    color: rgb(33, 33, 33);
    font-family: var(--primary-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: 3.5px;
    height: 37px;
}
.popular-accordion h2 img {
    width: 24px;
    height: 20px;
    margin-top: 8px;
    margin-left: 3.5px;
}
.popular-accordion__show-hide {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--top-bottom-color);
    color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-size: 18px;
    padding-top: 12px;
    padding-left: 15px;
    left: 25px;
    top: 1px;
    width: 235px;
    height: 125px;
    border: none;
    border-radius: 6px;
    z-index: 100;
    visibility: hidden;
}
.popular-accordion__show-hide:hover {
    opacity: 1;
    visibility: visible;
}
.popular-accordion__show-hide:hover ~ .popular-accordion__option {
    opacity: 1;
    visibility: visible;
}
.popular-accordion__show-hide.visible {
    opacity: 1;
    visibility: visible;
}
.popular-accordion__show-hide, .popular-accordion__option {
    opacity: 0;
    transition: opacity 0.3s linear, visibility 0.3s linear;
}
.popular-accordion__option {
    z-index: 1000;
    visibility: hidden;
}
.popular-accordion__option.visible {
    opacity: 1;
    visibility: visible;
}
.popular-accordion__show-hide::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid var(--top-bottom-color);
    top: -8px;
    left: 151px;
}
.popular-accordion__show-hide .popular-accordion__option + .popular-accordion__option {
    margin-top: 4px;
}
.whole-catalogue {
    margin-left: 8vw;
    padding-top: 3px;
}
.whole-catalogue a h2 {
    color: rgb(33, 33, 33);
    font-family: var(--primary-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0px;
    transition: opacity 0.15s linear;
}
.whole-catalogue a h2:hover {
    opacity: 0.9;
    border-bottom: 1px solid var(--primary-text-color);
}
.cards {
   display: grid;
   grid-template-columns: repeat(6, 206.25px);
   gap: 35.75px;
   justify-content: center;
   z-index: 1;
   margin-top: -130px;
}
.card {
    width: 206.25px;
    height: 262.5px;
    box-sizing: border-box;
    border: 0.3px solid #888;
    border-radius: 15px;
    box-shadow: 8px 8px 8px 0px #888;
    background-color: var(--primary-color);
    transition: margin-bottom 0.1s linear, margin-left 0.1s linear, opacity 0.1s linear;
}
.card:hover {
    margin-bottom: .5px;
    margin-left: .5px;
    opacity: 0.95;
    cursor: pointer;
}
.card:hover ~ .cards {
    gap: 35.25px;
}
.card:hover ~ .popular-goods_small {
    margin-top: 59.5px;
}
.card__picture-wrapper {
    padding-top: 16px;
    text-align: center;
}
.card__picture {
    width: 162px;
    height: 166.5px;
}
.card__content {
    padding-top: 13.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__name {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
}
.card__prices {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
}
.card__price {
    font-family: var(--primary-font-family);
    letter-spacing: 0px;
}
.card__price.active {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 13.13px;
    font-weight: 700;
    line-height: 16px;
}
.card__price.inactive {
    color: rgb(173, 173, 173);
    text-decoration: line-through;
    font-size: 11.25px;
    font-weight: 500;
    line-height: 14px;
    padding-top: 1.5px;
}
.card__price.active + .card__price.inactive {
    margin-left: 25px;
}
.cards__show-more-btn-container {
    text-align: center;
    margin-top: 55px;
}
.cards__show-more-btn {
    border: 1.5px solid var(--placeholder-text-color);
    width: 150px;
    height: 50px;
    border-radius: 8px;
    font-size: 25px;
    font-family: var(--primary-font-family);
    background-color: var(--top-bottom-text-color);
    color: var(--top-bottom-color);
    font-weight: 500;
    transition: 0.4s all linear;
}
.cards__show-more-btn.invisible-show-more {
    display: none;
    margin: 0;
    padding: 0;
}
.cards__show-more-btn:hover {
    background-color: var(--top-bottom-color);
    color: var(--top-bottom-text-color);
}
.no-cards__container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.no-cards__container.visible {
    display: flex;
}
.no-cards__heading {
    color: rgb(33, 33, 33);
    font-family: var(--primary-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 15px;
}
.no-cards__follow-up {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 90;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.modal-overlay.visible {
    opacity: 1;
    pointer-events: auto;
}
.card-info {
    position: fixed;
    z-index: 100;
    top: 50%;
    transform: translate(-25%, -50%);
    bottom: 66%;
    left: 25vw;
    height: 50%;
    aspect-ratio: 16 / 12;
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid var(--top-bottom-color);
    border-radius: 3%;
    display: none;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 1%;
    width: min(800px, 90vw);
    max-height: 90vh;
}
.card-info.visible-card-info {
    display: flex;
}
.card-info__exit {
    align-self: end;
    margin-right: 5px;
}
.card-info__exit-img {
    width: 45px;
    height: 45px;
}
.card-info__exit-img:hover {
    opacity: 0.8;
}
.card-info__about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 1%;
}
.card-info__img {
    flex-shrink: 0;
}
.card-info__img img {
    border-radius: 3%;
    width: 25em;
    height: 25em;
}
.card-info__text {
    display: flex;
    flex-direction: column;
    row-gap: 1%;
}
.card-info__heading {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 2.3em;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
}
.card-info__description {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0px;
}
.card-info__connect {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 1%;
    width: 100%;
    height: 15%;
    flex-shrink: 0;
}
.card-info__connect-btn {
    background-color: var(--top-bottom-color);
    color: var(--primary-color);
    width: 25%;
    height: 50%;
    border-radius: 8px;
    font-size: 1.3em;
    font-family: var(--primary-font-family);
    transition: background-color 0.3s linear;
}
.card-info__connect-btn:hover {
    background-color: #243055;
}
.about {
    margin-left: 17px;
    margin-top: 55px;
}
.about__heading h1 {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 33px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
}
.about__text {
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 0;
    transition: padding-bottom 0.3s linear;
}
.about__text_less {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.about__unfold, .about__fold {
    position: relative;
}
.about__unfold {
    top: 4px;
    transition: width 0.3s linear, height 0.3s linear;
}
.about__unfold.invisible {
    visibility: hidden;
    width: 0;
    height: 0;
}
.about__text_more {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.3s linear, margin-bottom 0.3s linear;
    margin-bottom: -60px;
}
.about__text_more.expanded {
    opacity: 1;
    visibility: visible;
    margin-bottom: 25px;
}
@media screen and (max-width: 1616px) {
    .cards {
        grid-template-columns: repeat(3, 206.25px);
        gap: 35px 75px;
    }
}
@media screen and (max-width: 1555px) {
    .popular-goods_small__main-heading, .popular-goods_small__main-heading--sub {
        font-size: 28px;
    }
    .popular-accordion h2 {
        font-size: 20px;
    }
    .whole-catalogue a h2 {
        font-size: 20px;
    }
    .popular-accordion__show-hide {
        left: -9px;
    }
}
@media screen and (max-width: 1415px) {
    .popular-accordion {
        margin-left: 15vw;
    }
}
@media screen and (max-width: 1234px) {
    .popular-goods_small__heading {
        flex-wrap: wrap;
    }
    .popular-accordion {
        margin-left: 8vw;
    }
    .whole-catalogue {
        margin-left: 4vw;
    }
}
@media screen and (max-width: 1078px) {
    .popular-goods_small__main-heading {
        margin-left: 20vw;
    }
    .whole-catalogue {
        margin-top: -115px;
        margin-left: 23vw;
    }
}
@media screen and (max-width: 950px) {
    .about__text {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 905px) {
    .slider__back-btn, .slider__forward-btn {
        cursor: default;
        width: 155px;
        height: 100%;
        opacity: 0;
    }
}
@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 175.3125px);
        gap: 25px;
    }
    .card {
        width: 175.3125px;
        height: 223.125px;
        box-shadow: 6.5px 6.5px 6.5px 0px #888;
    }
    .card__picture-wrapper {
        padding-top: 13.6px;
    }
    .card__picture {
        width: 137.7px;
        height: 141.525px;
    }
    .card__content {
        padding-top: 11.475px;
    }
    .card__name {
        font-size: 14px;
    }
    .card__prices {
        padding-top: 6px;
    }
    .card__price.active {
        font-size: 12.5px;
    }
    .card__price.inactive {
        padding-top: 1.275px;
        font-size: 10.5px;
    }
    .card__price.active + .card__price.inactive {
        margin-left: 21.25px;
    }
    .card:hover ~ .cards {
        gap: 24.5px;
    }
}
@media screen and (max-width: 850px) {
    .card-info__connect-btn {
        width: 100%;
        height: 60%;
        margin-right: 3em;
    }
}
@media screen and (max-width: 829px) {
    .popular-goods_small__heading {
        justify-content: center;
        gap: 55px;
        align-items: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0 55px 15px 55px;
        height: fit-content;
    }
    .popular-goods_small__main-heading {
        display: none;
    }
    .popular-goods_small__main-heading--sub {
        margin-left: -60px;
        font-size: 20px;
        display: block;
    }
    .popular-accordion {
        margin-left: 0;
    }
    .popular-accordion, #accordionHeading {
        width: fit-content;
    }
    #accrodionHeading + .popular-goods_small__main-heading--sub {
        margin-left: 0;
    }
    .whole-catalogue {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .about__text_more {
        margin-bottom: -105px;
    }
}
@media screen and (max-width: 650px) {
    .card-info {
        width: 98vw;
    }
}
@media screen and (max-width: 600px) {
    .about__text_more {
        margin-bottom: -150px;
        font-size: 14px;
    }
    .about__text_less {
        font-size: 14px;
    }
    .popular-goods_small__heading {
        padding: -25px 55px 15px 55px;
        row-gap: 0;
    }
    .popular-goods_small__main-heading--sub {
        font-size: 16px;
    }
    .whole-catalogue {
        font-size: 15px;
    }
}
@media screen and (max-width: 560px) {
    .card-info {
        height: fit-content;
    }
    .card-info__heading {
        font-size: 18px;
    }
    .card-info__about {
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }
}
@media screen and (max-width: 400px) {
    #accordionHeading + .popular-goods_small__main-heading--sub {
        margin-left: 5px;
    }
    .cards {
        column-gap: 8px;
    }
    .about__text_more {
        margin-bottom: -175px;
    }
}