@import url("reset.css");
:root {
    --primary-color: #fff;
    --top-bottom-color: #1D2641;
    --primary-text-color: #000;
    --top-bottom-text-color: #fff;
    --placeholder-text-color: #c0c0c0;
    --primary-font-family: "Montserrat", sans-serif;
}
header {
    width: 100%;
    max-width: 100%;
    height: 188px;
    background-color: var(--top-bottom-color);
    display: flex;
    flex-direction: row;
}
.header__logo-container {
    display: block;
    margin-left: 5px;
    margin-top: -17px;
}
.header__logo {
    width: 316px;
    height: 222px;
}
.header__main {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}
.header__nav {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.header__nav a {
    color: var(--top-bottom-text-color);
    font-family: var(--primary-font-family);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    height: 23px;
    width: fit-content;
}
.header__nav a + a {
    margin-left: 150px;
}
.header__nav a:hover {
    border-bottom: 0.5px solid var(--top-bottom-text-color);
}
.header__search {
    margin-left: 150px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    position: relative;
}
.header__input {
    width: 375px;
    height: 63.75px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--placeholder-text-color);
    font-family: var(--primary-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 22px;
    flex-grow: 1;
}
.header__search__icon {
    position: absolute;
    right: 10px;
    /* flex-shrink: 0;
    width: 56px;
    height: 44px; */
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
}
.slider {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}
.slider__current-img {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    z-index: 1;
}
.slider__back-btn, .slider__forward-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
}
.slider__back-btn {
    left: 0;
}
.slider__forward-btn {
    right: 0;
    transform: rotate(180deg);
}
.slider-dots {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
.slider-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid var(--primary-text-color);
}
.slider-dot + .slider-dot {
    margin-left: 15px;
}
.hamburger-menu {
    display: none;
    text-align: center;
    margin: 46px auto;
}
.hamburger-menu__symbol {
    text-align: center;
}
.hamburger-menu__btn {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 55px;
}
/* Просто тестовый коммент, на ветке творится какой-то бред */
@media screen and (max-width: 1555px) {
    .header__nav a + a {
        margin-left: 45px;
    }
    .header__search {
        margin-left: 80px;
    }
}
@media screen and (max-width: 1280px) {
    .header__main {
        margin-left: 0;
    }
    .header__search {
        margin-left: 40px;
    }
}
@media screen and (max-width: 1180px) {
    .header__main {
        flex-direction: column;
        margin-left: 150px;
    }
    .header__nav + .header__search {
        margin-top: 50px;
    }
    .header__nav {
        margin-top: 25px;
    }
    .header__search {
        margin-left: 0;
    }
}
@media screen and (max-width: 950px) {
    .header__main {
        margin-left: 0;
    }
}
@media screen and (max-width: 768px) {
    header {
        height: 176px;
    }
    .hamburger-menu {
        display: block;
    }
    .header__logo-container {
        display: none;
    }
    .header__main {
        display: none;
    }
    .header__search {
        display: none;
    }
}