@import url("reset.css");
:root {
    --primary-color: #fff;
    --top-bottom-color: #1D2641;
    --primary-text-color: #000;
    --top-bottom-text-color: #fff;
    --placeholder-text-color: #c0c0c0;
    --primary-font-family: "Montserrat", sans-serif;
}
header {
    width: 100%;
    max-width: 100%;
    height: 188px;
    background-color: var(--top-bottom-color);
    display: flex;
    flex-direction: row;
}
.header__logo-container {
    display: block;
    margin-left: 5px;
    margin-top: -17px;
}
.header__logo {
    width: 316px;
    height: 222px;
}
.header__main {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    align-items: center;
    height: 100%;
}
.header__nav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
    height: 100%;
}
.header__nav a {
    color: var(--top-bottom-text-color);
    font-family: var(--primary-font-family);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    height: 23px;
    width: fit-content;
}
.header__nav a + a {
    margin-left: 150px;
}
.header__nav a:hover {
    border-bottom: 0.5px solid var(--top-bottom-text-color);
}
.header__search {
    margin-left: 150px;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.header__input {
    width: 375px;
    height: 63.75px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--placeholder-text-color);
    font-family: var(--primary-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 22px;
    flex-grow: 1;
}
.header__search-icon {
    position: absolute;
    right: 10px;
    /* flex-shrink: 0;
    width: 56px;
    height: 44px; */
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
}
.slider {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
    margin-top: -40px;
}
.slider__current-img {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    z-index: 1;
}
.slider__back-btn, .slider__forward-btn {
    position: absolute;
    z-index: 10;
    top: 50%;
}
.slider__back-btn {
    left: 0;
}
.slider__forward-btn {
    right: 0;
    transform: rotate(180deg);
}
.slider-dots {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
.slider-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0.5px solid var(--primary-text-color);
}
.slider-dot + .slider-dot {
    margin-left: 15px;
}
.hamburger-menu {
    display: none;
    text-align: center;
    width: 100%;
}
.hamburger-menu__logo {
    margin-top: -30px;
}
.hamburger-menu__btn {
    color: var(--primary-color);
    font-size: 45px;
    margin-top: -20px;
    width: 30%;
}
.hamburger-menu__btn:hover {
    color: var(--top-bottom-color);
    background-color: var(--primary-color);
    border-radius: 7px;
}
.hamburger-menu__nav {
    padding-top: 15px;
    padding-bottom: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
.hamburger-menu__nav.visible {
    opacity: 1;
    max-height: 500px;
}
.hamburger-menu__search {
    display: block;
    text-align: center;
    position: relative;
}
.hamburger-menu__input {
    width: 375px;
    height: 63.75px;
    border: 0.5px solid #888;
    outline: none;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--placeholder-text-color);
    font-family: var(--primary-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    padding-left: 22px;
    flex-grow: 1;
}
.hamburger-menu__search-icon {
    position: absolute;
    right: calc(25.39% + 10px);
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
}
.hamburger-menu__links-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hamburger-menu__nav a {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    height: 23px;
    width: 200px;
    border-radius: 7px;
    align-self: center;
    text-align: center;
    height: 35px;
    padding-top: 5px;
}
.hamburger-menu__nav a + a {
    margin-top: 20px;
}
.hamburger-menu__nav a:hover {
    transition: 0.3s all ease-in-out;
    color: var(--primary-color);
    background-color: var(--top-bottom-color);
}
.popular-goods_small {
    margin-top: 60px;
}
.cards {
   display: grid;
   grid-template-columns: repeat(6, 206.25px);
   gap: 35.75px;
   padding-top: 45px;
   justify-content: center;
}
.card {
    width: 206.25px;
    height: 262.5px;
    box-sizing: border-box;
    border: 0.3px solid #888;
    border-radius: 15px;
    box-shadow: 8px 8px 8px 0px #888;
    background-color: var(--primary-color);
    transition: margin-bottom 0.1s linear, margin-left 0.1s linear, opacity 0.1s linear;
}
.card:hover {
    margin-bottom: .5px;
    margin-left: .5px;
    opacity: 0.95;
    cursor: pointer;
}
.card:hover ~ .cards {
    gap: 35.25px;
}
.card:hover ~ .popular-goods_small {
    margin-top: 59.5px;
}
.card__picture-wrapper {
    padding-top: 16px;
    text-align: center;
}
.card__picture {
    width: 162px;
    height: 166.5px;
}
.card__content {
    padding-top: 13.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__name {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
}
.card__prices {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
}
.card__price {
    font-family: var(--primary-font-family);
    letter-spacing: 0px;
}
.card__price.active {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 13.13px;
    font-weight: 700;
    line-height: 16px;
}
.card__price.inactive {
    color: rgb(192, 192, 192);
    font-size: 11.25px;
    font-weight: 500;
    line-height: 14px;
    padding-top: 1.5px;
}
.card__price.active + .card__price.inactive {
    margin-left: 25px;
}
.about {
    margin-left: 17px;
    margin-top: 55px;
}
.about__heading h1, .popular-goods_small__heading h1 {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 33px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
}
.about__text {
    margin-top: 15px;
    width: 80%;
    margin-left: 10%;
}
.about__text_less {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.about__unfold, .about__fold {
    position: relative;
}
.about__unfold {
    top: 4px;
}
.about__unfold.invisible {
    display: none;
}
.about__text_more {
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-out;
}
.about__text_more.expanded {
    max-height: 1111px;
    opacity: 1;
}
footer {
    width: 100%;
    height: 555px;
    background-color: #888;
    z-index: 10;
}
@media screen and (max-width: 1616px) {
    .cards {
        grid-template-columns: repeat(3, 206.25px);
        gap: 35px 75px;
    }
}
@media screen and (max-width: 1555px) {
    .header__nav a + a {
        margin-left: 45px;
    }
    .header__search {
        margin-left: 80px;
    }
}
@media screen and (max-width: 1280px) {
    .header__main {
        margin-left: 0;
    }
    .header__search {
        margin-left: 40px;
    }
}
@media screen and (max-width: 1180px) {
    .header__main {
        flex-direction: column;
        margin-left: 150px;
    }
    .header__nav + .header__search {
        margin-top: 50px;
    }
    .header__nav {
        margin-top: 25px;
    }
    .header__search {
        margin-left: 0;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 950px) {
    .header__main {
        margin-left: 0;
    }
    .about__text {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 206.25px);
        gap: 25px;
    }
    .card {
        width: 144.375px;
        height: 183.75px;
        box-shadow: 6.5px 6.5px 6.5px 0px #888;
    }
    .card__picture-wrapper {
        padding-top: 11.2px;
    }
    .card__picture {
        width: 113.4px;
        height: 116.55px;
    }
    .card__content {
        padding-top: 9.45px;
    }
    .card__name {
        font-size: 14px;
    }
    .card__prices {
        padding-top: 2.8px;
    }
    .card__price.active {
        font-size: 12px;
    }
    .card__price.inactive {
        padding-top: 1.05px;
        font-size: 10px;
    }
    .card__price.active + .card__price.inactive {
        margin-left: 17.5px;
    }
    .card:hover ~ .cards {
        gap: 25px;
    }
}
@media screen and (max-width: 768px) {
    header {
        height: 176px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger-menu {
        display: block;
    }
    .header__logo-container {
        display: none;
    }
    .header__main {
        display: none;
    }
    .header__search {
        display: none;
    }
    .slider {
        margin-top: -40px;
        transition: margin-top 0.1s ease-out;
    }
    .slider.active {
        margin-top: 0;
    }
    .slider__back-btn, .slider__forward-btn {
        top: 35%;
        width: 105px;
        height: 105px;
    }
    .about__text p {
        font-size: 16px;
    }
}
@media screen and (max-width: 670px) {
    .hamburger-menu__search-icon {
        right: 23%;
    }
}
@media screen and (max-width: 565px) {
    .hamburger-menu__search-icon {
        right: 18.5%;
    }
}
@media screen and (max-width: 460px) {
    .slider__back-btn, .slider__forward-btn {
        top: 25%;
    }
    .hamburger-menu__search-icon {
        right: 15%;
    }
}
@media screen and (min-width: 769px) {
    .hamburger-menu__nav {
        display: none !important;
    }
    .slider {
        margin-top: 0 !important;
    }
}